Django==4.1.7
django-oauth-toolkit==2.2.0
django-rest-framework-social-oauth2==1.1.0
Django-Verify-Email==2.0.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.5
google-api-core==2.11.0
google-api-python-client==2.79.0
google-auth==2.16.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
python-dotenv==0.21.1
six==1.16.0
